{% extends 'base_layout.html' %}
{% load staticfiles %}

{% block content %}
    {% include 'menu.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2" style="background-color: #E6E6E6;"></div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
          <br>
          <a href="/aluno/{{ id }}">VOLTAR</a>
          <br>
          <h3>Formulario Padrao</h3>
          <br><br>

          <div style="width: 90%;margin-left:5%;border:solid 1px #BDBDBD;border-radius: 10px;padding: 10px;">
           <form method="POST" action="submit" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Senha</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Endereço</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos Bobos, nº 0">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Endereço 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Cidade</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control">
                  <option selected>Escolher...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputCEP">CEP</label>
                <input type="text" class="form-control" id="inputCEP">
              </div>
            </div>
          <div   class="form-group col-md-4">
            <label for="photo">Photo:</label>
            {% if pet %}
            <a style="width: 70%;text-align: right;" href="/media/{{ pet.photo }}" target="_blank">Actual Picture</a>
            {% endif %}
            <input type="file" class="form-control-file" id="photo" name="photo">
          </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Clique em mim
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
          </div>

          <br><br><br><br>
        </div>
        <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-xl-2" style="background-color: #E6E6E6;"></div>
      </div>
    </div>

{% endblock %}