    {% load staticfiles %}
    <nav class="navbar navbar-expand-lg navbar-light menu" id="menu" style="background-color: #068;color: white;">
      <a class="navbar-brand" href="#" style="color: white;"><img src="{% static 'img/logo.png' %}" alt="error loading image" style="width: 60px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="" style="color: white;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'categories' %}" style="color: white;">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teams' %}" style="color: white;">Turmas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href=""  style="color: white;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              GAMB
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="color: white;">Relatório</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color: white;" href="">Logout</a>
          </li>
        </ul>
      </div>
    </nav>