.l_prod tr{
    font-size: 20px;
    height: 35px;
 }
 tr:nth-child(even){
    background: white;
 }
 tr:nth-child(odd){
    background: #F2F2F2;
 }
 .l_prod tr th{
    background-color: #A4A4A4
 }
.l_tb:hover{
    background-color: #F3F781;
    cursor: pointer;
    style: inset;
}
.cl_dt:hover{
    background-color: #F3F781;
    cursor: pointer;
    style: inset;
}
#bill_value{
    font-size: 30px;
    color: #088A08;
}
.info_student{
    font-size: 40px;
}
.l_h_tb{
    font-size: 20px;
}
.l_tb{
    font-size: 20px;
}
.menu{
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
}
.l_info_stud{
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
}